<!-- Project List -->
<section class="blog">
    <div class="container"> 
        <div class="blog-grid" style="grid-template-columns: repeat(2, 1fr);"><article class="blog-card">
                <a href="/ecommerce/productitem/" style="cursor:pointer">
                        <div class="blog-img">
                            <img src="/assets/imgs/IMG_3124 Large.png" alt="[This is a short description of the item]">
                        </div>
                        <div class="blog-content">
                            <h3>Test Item 1</h3>
                            <h4>SKU-1234</h4>
                            <p class="blog-excerpt">This is a short description of the item</p>
                            <a href="/ecommerce/productitem/" class="read-more">View Item</a>
                        </div>
                </a>      
            </article></div>
    </div>
</section>