    <!-- Header -->

        <!-- Need to add active link based on systemic link set to active in md -->

    <header>
        <div class="container header-container">
            <a href="/index" class="logo"><span>JR </span>Kitchens & Baths</a>
            <button class="mobile-toggle" id="mobile-toggle">
                <i class="fas fa-bars"></i>
            </button>
            <nav id="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                   
                    <li><a href="/about/">About</a></li>
                   
                    <li><a href="/projects/">Projects</a></li>
                   
                    <li><a href="/blog/">Blog</a></li>
                   
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>


