<!-- Footer -->
<footer>
<div class="container">
    <div class="footer-grid">
        <div class="footer-col">
            <h3>About JR Kitchens & Baths</h3>
            <p>I am proud to work with homeowners across Butler County Ohio, and the surrounding areas. Helping homeowners turn their visions into spaces that don't only look incredible, but feel like home.</p>
            <div class="footer-social">
                <a href="https://www.facebook.com/JRHomeSolutions53" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <!-- <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-pinterest-p"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-houzz"></i></a> -->
            </div>
        </div>
        <div class="footer-col">
            <h3>Our Services</h3>
            <ul class="footer-links">
                <li><a href="#">Luxury Kitchens</a></li>
                <li><a href="#">Custom Bathrooms</a></li>
                <li><a href="#">Marble & Stone Installation</a></li>
                <li><a href="#">Whole Home Renovations</a></li>
                <li><a href="#">Design Consultation</a></li>
                <li><a href="/ecommerce/">Purchase Cabinets</a></li>

            </ul>
        </div>
        <div class="footer-col">
            <h3>Quick Links</h3>
            <ul class="footer-links">
                <li><a href="/">Home</a></li>
                <li><a href="#">Pay an Invoice</a></li>
                <li><a href="/projects">Our Projects</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/legal">Privacy Policy</a></li>
            </ul>
        </div>
       
    </div>
</div>
<div class="copyright">
    <div class="container">
        <p>&copy; 2025 JR Home Solutions. All Rights Reserved. &mdash; <a href="/legal">Site Terms & Policies</a> </p>
    </div>
</div>
</footer>