<!-- Project List -->
<section class="blog">
    <div class="container"> 
        <div class="blog-grid" style="grid-template-columns: repeat(2, 1fr);"><article class="blog-card">
                <a href="/blog/myfirstpost/" style="cursor:pointer">
                         <div class="blog-img">
                            <img src="/assets/imgs/IMG_1650 Medium.jpeg" alt="[This is short description of a post]">
                        </div>

                        <div class="blog-content">
                            <h3>Test Blog Post 1</h3>
                            <p class="blog-excerpt">This is short description of a post</p>
                            <a href="/blog/myfirstpost/" class="read-more">Read More</a>
                        </div>
                </a>      
            </article></div>
    </div>
</section>